body {

}

.one {
  background-color: lightyellow;
  font-family: serif;
  font-size:12px;
  color: red;
  line-height: 60%;
  padding: 2px;
  border-radius: 5px;
}

.two {
  background-color: lightblue;
  font-family: Times;
  font-size:12px;
  color: blue;
  line-height: 70%;
  padding: 7px;
  border-radius: 10px;
}

.three {
  background-color: orange;
  font-family: courier;
  font-size:12px;
  color: green;
  line-height: 80%;
  padding: 15px;
  border-radius: 15px;
}

.four {
  background-color: lightgreen;
  font-family: Tahoma;
  font-size:12px;
  color: purple;
  line-height: 90%;
  padding: 20px;
  border-radius: 20px;
}

.five {
  background-color: lightpink;
  font-family: verdana;
  font-size:12px;
  line-height: 100%;
  padding: 25px;
  border-radius: 25px;
}